{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = '' %}
    {% include "contest/contest-tabs.html" %}
    {% if contest.is_organization_private %}
        <span class="organization-tags">
            {% for org in contest.organizations.all() %}
                <span class="organization-tag">
                    <a href="{{ org.get_absolute_url() }}">
                        <i class="fa fa-lock"></i> {{ org.name }}
                    </a>
                </span>
            {% endfor %}
        </span>
    {% endif %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    </script>
    {% include "contest/media-js.html" %}
    {% if not comment_lock %}
        {% include "comments/media-js.html" %}
    {% endif %}
{% endblock %}

{% block content_media %}
    {% if not comment_lock %}
        {% include "comments/media-css.html" %}
    {% endif %}
    
{% endblock %}

{% block body %}
    <div id="banner">
        <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name|urlquote('') }}&amp;iso=
                {{- contest.start_time|utc|date('Y-m-d\TH:i:s') }}" class="date">
            {%- if contest.is_in_contest(request.user) and not request.participation.live -%}
                {% if request.participation.spectate %}
                    {%- trans countdown=contest.time_before_end|as_countdown -%} Spectating, contest ends in {{countdown}}. {%- endtrans -%}
                {% elif request.participation.end_time %}
                    {%- trans countdown=request.participation.time_remaining|as_countdown -%} Participating virtually, {{countdown}} remaining. {%- endtrans -%}
                {% else %}
                    {{- _('Participating virtually.') -}}
                {% endif %}
            {%- else -%}
                {% if contest.start_time > now %}
                    {%- trans countdown=contest.time_before_start|as_countdown -%} Starting in {{countdown}}. {%- endtrans -%}
                {% elif contest.end_time < now %}
                    {{- _('Contest is over.') -}}
                {% else %}
                    {%- if has_joined -%}
                        {% if live_participation.ended %}
                            {%- trans countdown=contest.time_before_end|as_countdown -%} Your time is up! Contest ends in {{countdown}}. {%- endtrans -%}
                        {% else %}
                            {%- trans countdown=live_participation.time_remaining|as_countdown -%} You have {{countdown}} remaining. {%- endtrans -%}
                        {% endif %}
                    {%- else -%}
                        {%- trans countdown=contest.time_before_end|as_countdown -%} Contest ends in {{countdown}} {%- endtrans -%}
                    {%- endif -%}
                {% endif %}
            {%- endif -%}
        </a>
        <div id="time">
            {% with start_time=contest.start_time|date(_("F j, Y, G:i T")) %}
                {% if contest.time_limit %}
                    {% set end_time=contest.end_time|date(_("F j, Y, G:i T")) %}
                    {% set time_limit=contest.time_limit|timedelta('localized-no-seconds') %}
                    {{ _('%(time_limit)s window between %(start_time)s and %(end_time)s', start_time=bold(start_time), end_time=bold(end_time), time_limit=bold(time_limit)) }}
                {% else %}
                    {% set length=contest.contest_window_length|timedelta('localized-no-seconds') %}
                    {{ _('%(length)s long starting on %(start_time)s', start_time=bold(start_time), length=bold(length)) }}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% set in_contest = contest.is_in_contest(request.user) %}
    {% if in_contest or contest.ended or request.user.is_superuser or is_editor or is_tester %}
        {% block description %}
                {% for problem in all_problems %}
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div class="content-description" style="width: 70%;">
                            <h2 style="margin-top: 0.5em;">{{ problem.name }}</h2>
                            {% if problem.is_suggesting %}
                                <div class="alert alert-warning alert-dismissable">
                                    <a class="close">x</a>
                                    <b>{{ _('This problem is only a suggestion!') }}</b>
                                    <br>
                                    {{ _('This problem cannot be accessed by normal users until it is approved by an admin or staff. Please make sure that all the data for this problem is correct.') }}
                                </div>
                            {% endif %}
                            {% cache 86400 'problem_html' problem.id MATH_ENGINE LANGUAGE_CODE %}
                                {{ problem.description|markdown(problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
                            {% endcache %}

                            {% with pdf_url=problem.pdf_url %}
                                {% if pdf_url %}
                                    <p>{{ _("In case the statement didn't load correctly, you can download the statement here: ") }}<a href="{{ pdf_url }}">{{ _("Statement") }}</a></p>
                                    <object id="pdfContainer" data="{{ pdf_url }}" type="application/pdf" height="1000" style="width: 100%;" ></object>
                                {% endif %}
                            {% endwith %}

                            {% with license=problem.license %}
                                {% if license %}
                                    <span class="license">
                                    <a href="{{ url('license', license.key) }}">{{ license.display or license.name }}</a>
                                </span>
                                {% endif %}
                            {% endwith %}
                            <hr>
                        </div>
                    </div>
                {% endfor %}
        {% endblock %}
    {% endif %}

    <div class="content-description">
        {% cache 3600 'contest_html' contest.id MATH_ENGINE %}
            {{ contest.description|markdown('contest', MATH_ENGINE)|reference|str|safe }}
        {% endcache %}
    </div>

    <!-- <hr> -->
    <span class="social">
        {{ post_to_facebook(request, contest, '<i class="fa fa-facebook-official"></i>') }}
        {{ post_to_twitter(request, SITE_NAME + ':', contest, '<i class="fa fa-twitter"></i>') }}
    </span>

    <div style="clear: both;"></div>
{% endblock %}

{% block description_end %}{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if not comment_lock %}
        {% include "comments/math.html" %}
    {% endif %}
{% endblock %}
