{% if problem.is_suggesting %}
    <div class="alert alert-warning alert-dismissable">
        <a class="close">x</a>
        <b>{{ _('This problem is only a suggestion!') }}</b>
        <br>
        {{ _('This problem cannot be accessed by normal users until it is approved by an admin or staff. Please make sure that all the data for this problem is correct.') }}
    </div>
{% endif %}
{% cache 86400 'problem_html' problem.id MATH_ENGINE LANGUAGE_CODE %}
    {{ problem.description|markdown(problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
{% endcache %}

{% with pdf_url=problem.pdf_url %}
    {% if pdf_url %}
        <p>{{ _("In case the statement didn't load correctly, you can download the statement here: ") }}<a href="{{ pdf_url }}">{{ _("Statement") }}</a></p>
        <object id="pdfContainer" data="{{ pdf_url }}" type="application/pdf" height="1000" style="width: 100%;" ></object>
    {% endif %}
{% endwith %}

{% with license=problem.license %}
    {% if license %}
        <span class="license">
        <a href="{{ url('license', license.key) }}">{{ license.display or license.name }}</a>
    </span>
    {% endif %}
{% endwith %}